[package]
name = "blossom_tauri"
version = "0.1.0"
edition = "2021"

[dependencies]
tauri = { version = "1", features = [] }
regex = "1"
tempfile = "3"

[build-dependencies]
tauri-build = { version = "1", features = [] }
