numpy
scipy
soundfile
webrtcvad
faster-whisper
pytest
fastapi
httpx
uvicorn

jinja2
python-frontmatter
faiss-cpu
sentence-transformers
watchfiles

discord.py[voice] @ git+https://github.com/jg-l/discord.py
